<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <ul>
        <li v-for="item in items">{{ item.message }}</li>
      </ul>
      <ul>
        <li v-for="value in myObject">{{ value }}</li>
      </ul>
    </div>
    <script>
      const { createApp } = Vue;

      createApp({
        data() {
          return {
            items: [{ message: "Japan IT" }, { message: "YJU" }],
            myObject: {
              title: "How to do lists in Vue",
              author: "Jane Doe",
              publishedAt: "2016-04-10",
            },
          };
        },
        methods: {},
      }).mount("#app");
    </script>
  </body>
</html>
